@font-face {
  font-family: 'fzzyjt';
  src: url("~@/assets/fonts/fzzyjt.TTF") format('ttf');
}

@font-face {
  font-family: 'hyxbzz';
  src: url('~@/assets/fonts/HYXIAOBOZHEZHITIJ.ttf') format('ttf'), url('~@/assets/fonts/HYXIAOBOZHEZHITIJ.eot') format('eot'), url('~@/assets/fonts/HYXIAOBOZHEZHITIJ.woff') format('woff');
}
@font-face {
  font-family: "SourceHanSansCN";
  src: url("~@/assets/fonts/SourceHanSansCN-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'dollarss';
  src: url('~@/assets/fonts/DOLLAR.ttf') format('ttf');
}
@font-face{
font-family: 'YouSheBiaoTiHei';
src:url('~@/assets/fonts/YouSheBiaoTiHei-2.ttf') format('truetype');
}
@font-face{
font-family: 'DINBold';
src:url('~@/assets/fonts/DIN-Medium.ttf') format('truetype');
}
@font-face{
font-family: 'Regular';
src:url('~@/assets/fonts/Regular.ttf') format('ttf');
}
